rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /matches/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /tournaments/{tournamentId}/{document=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
